body {
  background-color: #D3D3D3;
}
a:link {
  text-decoration: none;
  color: #222;
}
.contate1 { /* CLASS DO TAMANHO DO  CONTATE-ME*/
  width: 98% !important;
}
/* CODIGO DO MENU NAV */
nav {
  width: 100%;
  position: fixed;
  z-index: 3;
}
  
nav ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
}
  
nav ul li {
  width: 25%;
  float: left;
}
  
nav ul li a {
  color: #fff !important;
  text-decoration: none;
  font-family: 'Arial';
  text-align: center;
  background: #222;
  display: block;
  padding: 20px 0px;
  border: 1px solid #222;
}

nav ul li > ul li {
  float: left;
  width: 100%;
}

nav ul li a:hover {
  background: black;
  color: #222;
  border: 1px solid #222;
}
/* ************************  */
#alertred, #alertgreen { /*TAMANHO DOS ALERTS*/
  width: 98%;
}
/* PAGINA 01 QUEM SOU HOME */
.home1 {
  width: 80%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-img-top { /*FOTOS DOS CARDS */
  width: 300px;
  height: 200px;
  margin-top: 10px;
}

.fab { /*ICONE FAB*/
  color: black;
  font-size: 25px;
}

.card { /*CARDS DO HOME1*/
  width: 320px;
  height: 430px;
  margin: 15px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.card img { /*CODIGO PARA DEIXAR FOTO DO CARD RESPONSIVA*/
  width: 95%;
  border-radius: 18px;
}

/* PAGINA 03 - CONTATO */
.alert {
  width: 500px;
  display: flex;
  justify-content: center;
}

.contato { /*DEIXE SEU COMENTARIO*/
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-control { 
  width: 500px;
  border: 2px solid black;
}

.btnEnviar {
  width: 200px;
  padding: 5px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: #58cde7;
  border: 2px solid #58cde7;
  border-radius: 20px;
}

.btnEnviar:hover {
  box-shadow: 0px 0px 2px 1px #58cde7;
}
/* ****    CAROUSEL    *** */
.carousel {
  width: 580px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 100px;
}

#h2carro {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* COMENTÁRIO */
#buscarComment {
  width: 480px;
  justify-content: center;
  text-align: center;
}

.exibirComentarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.cadaCard {
  background-color: white;
  display: flex;
  height: 90px;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  flex-direction: column;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
}